body {
    font-family: Arial, sans-serif;
    background-color: #4C787E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 4rem;
    color: #ffffff;
}

p {
    font-size: 1.5rem;
    color: #ffffff;
}
